@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lato:wght@700&display=swap');
html {
    scroll-behavior: smooth;
}
  
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.menu {
    font-family: 'Concert One', cursive, sans-serif; 
    width: calc(100vw);
    height: 150px;
    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    position: fixed;
    
}
.hamburguer {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFF;
}
#logo {
    display: flex;
    align-items: center;
}
#logo img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
}
.menu nav {
    display: flex;
    align-items: center;
    font-size: 28px;
}
.menu ul {
    display: flex;
}
.menu ul, .menu li {
    list-style: none;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}



.mapa {
    background-image: url(../images/bg.png);
    background-position: bottom;
    background-size: cover;
    height: calc(100vh - 50px);
       
}
.mini-map {
    display: none;
}
.mapa iframe {
    
    justify-content: center;
    margin-top: 200px;
}


#config {
    width: auto;
    height: 650px;
}
.section-title {
    font-size: 30px;
    text-align: center;
    margin: 30px;
    padding: 40px;
}
.area {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}

.area1 {
    width: 300px;
    height: 420px;
    padding: 15px;
    margin: 20px;
    background-color: #AAA;
    color: #000;    
    line-height: 22px;
    border-radius: 15px;
    
}
.area1 .titulo {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;

}
.area1 .descrição {
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
    height: 145px;
}
.area1 .status {
    color: #4F4F4F;
    height: 120px;
    line-height: 18px;
    font-size: 14px;
}
.icon-discord {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.icon-discord img {
    width: 70px;
    height: 70px;
    margin: 10px;
    
}





#doacoes {
    width: auto;
    height: 550px;
    background-color: #2E2C2A;
    color: #fff;
}
.area-doacao {
    display: flex;
    justify-content: center;    
}
.seaction-image {
    display: flex;
    padding-right: 180px;
    justify-content: center;
    align-items: center;
}
.seaction-image img {
    width: 300px;
    height: 250px;
}
.section-recompensa {
    width: 500px;
    height: 300px;
    text-align: center;
    font-size: 19px;
    line-height: 26px;
    margin: 20px;
}
.section-recompensa p {
    padding: 20px;
}
.section-recompensa span {
    font-size: 15px;
    color: #ccc;
}



#discord {
    width: 100%;
    height: 720px;
    background-color: #fff;
    color: #000;
    
}
.area-discord {
    display: flex;
    justify-content: center;
    
}
.descricao-discord {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 500px;
    height: 450px;
    font-size: 18px;
}
.widget {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    width: 450px;
    height: 500px;
}
.widget-discord {
    margin: 10px;
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #35363B;
    border-radius: 20px;
}
.images {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.title-discord {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: #AAA;
}
.discord-logo {
    width: 280px;
    height: 110px;
}
.discord-logo img {
    width: 250px;
    height: 80px;
    margin-top: 25px;
    margin-left: 20px;
}
.discord-agartha {
    width: 80px;
    height: 80px;
    margin: 20px;
}
.discord-agartha img{
    width: 70px;
    height: 70px;
    margin-top: 10px;
    border-radius: 35px;
}



.foot {
    width: auto;
    height: 350px;
    background-color: #000;
    display: flex;
    justify-content:center;
    align-items: center ;
}
.area-foot {
    display: block;
    width: 600px;
    height: 200px;
}
.imagem-footer {
    margin-left: 200px;
    flex-direction: column;
    width: 300px;
    height: 200px;
    color: #AAA;
}
.imagem-footer h4 {
    margin-left: 10px;
}
.imagem-footer img {
    width: 200px;
    height: 150px;
}
.agradecimento {
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #AAA;
}
.area-foot2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: pink;
    background-color: #000;
    
}

@media (min-width:320px) and (max-width:650px) {
    .menu {
        
        max-width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #logo {
        display: flex;
        align-items: center;
        
    }
    #logo img {
        width: 140px;
        height: 140px;
    }
    .hamburguer {
        display: block;
        padding-left: 100px;
        justify-content: right;
    }
    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    nav ul{
        width: 100%;
    }
    nav .nav-menu.active{
        align-items: center;
    }
    .nav-menu {
        position: fixed;
        left: -120%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        background-color: #000;
        opacity: 0.8;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin: 0px;
        padding: 0px;
        
    }
    .nav-menu.active {
        left: 0;
        margin: 0px;
        padding: 0px;
        
    }



    .mapa {
        background-color: #2E2C2A;
        background-image: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 650px;
    }
    .mini-map {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 250px;
    }
    .mini-map img {
        width: 300px;
        height: 250px;
    }




    #config {
        display: block;
        max-width: 100%;
        height: 1500px;
    }
    .area {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .area1 {
        padding: 10px;
        width: 280px;
        height: 420px;
        margin-bottom: 10px;
        font-size: 11px;
    }
    


    #doacoes {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 800px;
    }
    .area-doacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .section-title {
        margin: 10px;
        padding: 10px;
    }
    .seaction-image {
        width: 280px;
        padding: 0px;
    }
    .seaction-image img {
        display: flex;
        justify-content: center;
        width: 250px;
        height: 220px;
    }
    .section-recompensa {
        width: auto;
        font-size: 14px;
    }
    .section-recompensa span {
        font-size: 12px;
    }



    #discord {
        display: block;
        width: auto;
        height: 800px;
        
    }
    .area-discord {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 0px;
    }
    .descricao-discord {
        width: 80%;
        height: 230px;
        padding: 10px;
        margin: 0px;
        font-size: 14px;
    }

    .widget {
        display: flex;
        margin: auto;
        flex-direction: column;
        width: 300px;
        height: 500px;
        align-items: center;
    }
    .widget-discord {
        margin: 10px;
        width: 280px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #35363B;
        border-radius: 20px;
    }
    .title-discord{
        font-size: 16px;
    }
    .images {
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    .discord-logo {
        width: 200px;
        height: 120px;
    }
    .discord-logo img {
        width: 200px;
        height: 75px;
        margin-top: 25px;
    }
    .discord-agartha {
        width: 70px;
        height: 100px;
        padding: 10px;
        margin: 10px;
    }
    .discord-agartha img{
        width: 60px;
        height: 60px;
        margin-top: 20px;
        border-radius: 30px;
    }

    .foot {
        width: 100%;
    }
    .area-foot {
        width: 100%;
        
    }
    .imagem-footer {
        display: flex;
        margin: auto;
        align-items: center;
    } 
    .agradecimento {
        width: 100%;
        font-size: 12px;
    }
}






@media (min-width:651px) and (max-width:999px) {
    .menu {
        
        max-width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    #logo {
        display: flex;
        align-items: center;
        
    }
    #logo img {
        width: 160px;
        height: 160px;
    }
    .hamburguer {
        display: block;
        padding-left: 100px;
        justify-content: right;
    }
    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    nav ul{
        width: 100%;
    }
    nav .nav-menu.active{
        align-items: center;
    }
    .nav-menu {
        position: fixed;
        left: -120%;
        top: 90px;
        gap: 0;
        flex-direction: column;
        background-color: #000;
        opacity: 0.8;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin: 0px;
        padding: 0px;
        
    }
    .nav-menu.active {
        left: 0;
        margin: 0px;
        padding: 0px;
    }
    
    #config {
        display: block;
        max-width: 100%;
        height: 1500px;
    }
    .area {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .area1 {
        padding: 10px;
        width: 450px;
        height: 360px;
        margin-bottom: 10px;
        font-size: 11px;
    }
    .area1 .descrição {
        height: 110px;
    }
    .area1 .status {
        height: 100px;
    }
    #doacoes {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 750px;
        margin: 20px auto;
    }
    .area-doacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .seaction-image {
        width: 320px;
        padding: 0px;
    }
    .seaction-image img {
        display: flex;
        justify-content: center;
    }
    .section-recompensa {
        width: auto;
        font-size: 14px;
    }
    .section-recompensa span {
        font-size: 12px;
    }
    .section-title {
        margin: 20px;
        padding: 30px;
    }
    #discord {
        display: block;
        width: auto;
        height: 900px;
        
    }
    .area-discord {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 0px;
    }
    .descricao-discord {
        width: 80%;
        height: 250px;
        padding: 10px;
        margin: 10px;
        font-size: 16px;
    }
    .title-discord {
        width: 100%;
        font-size: 16px;
        height: 22px;
    }
    .widget {
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        width: 450px;
        height: 500px;
    }
    .widget-discord {
        margin: 10px;
        width: 400px;
        height: 125px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #35363B;
        border-radius: 20px;
    }
    .images {
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
    }
    .discord-logo {
        width: 250px;
        height: 120px;
    }
    .discord-logo img {
        width: 220px;
        height: 75px;
        margin-top: 25px;
    }
    .discord-agartha {
        width: 90px;
        height: 100px;
    }
    .discord-agartha img{
        width: 60px;
        height: 60px;
        margin-top: 25px;
        border-radius: 27,5px;
    }

    .foot {
        width: 100%;
    }
    .area-foot {
        width: 100%;
        
    }
    .imagem-footer {
        display: flex;
        margin: auto;
        align-items: center;
    } 
    .agradecimento {
        width: 100%;
        font-size: 12px;
    }
}